@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1586450017579'); /* IE9 */
  src: url('iconfont.eot?t=1586450017579#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKoAAsAAAAABnAAAAJbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwgQQBNgIkAwgLBgAEIAWEbQc7G7UFEdWLX7IfC+WmF3OCMqR6a4II16rqJLOXI1RM9AgW0bIGUkfqUd47AgkkX8/aZugzqsIwJfHgf1lmexNKSvkVAAvH1KdHYg7oTllFkYCnAx+oG08n+xk/jF3gEp5DAB+iyUQamzsHsRisdQLIru0rc9icH4NhKYvgqTlqkGs4WHVebQFXw9/LH/LFgsLRWBW9y02L1H5PsDP0MfcYkz6CAAjotANoIBMwIIO18W40wogan7ghHvZVKvA9wXV9I7JXHcL+OqvYD4BImBD4nuAKb7VYAWDiZDRQirHmRhXit3frjc+7d8Pv34+8fTt07E3tUu8BnVvCvXkzOPXWvYkTOR2P9Pfv+pFt/fH9YSD9gbd15Jx4lZZ2PTPmgmxuygVE29y4oDQbG15YX1jf2A3fbbxz9+tMYOV/67vk2KfVvXPhCveYQR8D7F4dAn9H0LPP6CLLoIwqqHUqoketVYAPPoALdofwbaw6/FbSgiX8hpxeRKWgsSQiDTYTHHwpBA+WGvAhg5bTvoRyAI0YbyCd0wCEIJ6AIoCnoAniNdJgv4JDBP/AQ5Bo8GFYQq/0JVlIbxoEJ8UV5h/4hXdyTGqi0hvaK02SFYX0F8rpQ1AXVTHV444yx47zbRtVAhLeoAOvYUoMh3DARQunerRlSXUfKhbeMkOD4KS4AvMP8Avv5I9WU/r+De2VJmlpqnG+UE4/OVBTUPVA9vK9V9O9vHO+bYMqASS8AR1YhCkxcNQvCrhogRsRPVpKexj1lRfrK7cPyGNtWBol9hWa4KPoZz+x+nyg6+8CXZYBAAA=') format('woff2'),
  url('iconfont.woff?t=1586450017579') format('woff'),
  url('iconfont.ttf?t=1586450017579') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1586450017579#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti-_fuzhi-:before {
  content: "\e623";
}

